*, *::before, *::after {box-sizing: border-box;}

html,body{
    margin: 0;
    height: 100%;
}
body{
    background-color: #1e1f23;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Animation - animaciones  */
.container 
{
    position: relative;
    width: 360px;
    height: 640px;
    filter: drop-shadow(-10px 9px 15px rgb(11, 11, 11));
    transform: rotate(-30deg) skew(25deg) scale(0.7);
    margin-top: 130px;
    cursor: pointer;
}
.container img
{
    position: absolute;
    width: 100%;
}
.container img:nth-child(1){

    opacity: 1;
    z-index: 4;
}
.container img:nth-child(2){

    opacity: 0.8;
    z-index: 3;
}
.container img:nth-child(3){

    opacity: 0.6;
    z-index: 2;
}
.container img:nth-child(4){

    opacity: 0.4;
    z-index: 1;
}